<div *ngIf="contact$ | async as contact; else loading">
   <div class="contact">
      <div class="header">
         <h1>{{contact.name}}</h1>
         <div class="buttons">
            <a (click)="remove(contact.id)" [routerLink]="['/my-contacts']">Удалить контакт</a>
         </div>
      </div>
   
      <div class="info">
         <strong>Зарегистрирован:</strong>
         <strong>{{contact.date | date:'medium':null:'ru'}}</strong>
      </div>
   
      <div>
         <quill-view-html [content]="contact.info"></quill-view-html>
      </div>
   </div>
</div>

<ng-template #loading>
   <p class="text-center">Загружаю контакт...</p>
</ng-template>