<div class="contact">
   <div class="header">
      <h1>Contact name</h1>

      <button 
         routerLink="/my-contacts"
         class="btn btn-link"
      >На главную</button>
   </div>

   <div class="info">
      <strong>Contact photo</strong>
      <small>12.5.2020</small>
   </div>

   <div>
      <p>О контакте</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo vitae minus officia illo, nostrum quasi doloremque, quibusdam, quae obcaecati totam sunt magni culpa molestias nulla ea reiciendis praesentium quisquam odit! Maiores fuga voluptas expedita officiis nulla sit adipisci eligendi a reiciendis repudiandae? Alias repellendus excepturi saepe ut voluptas voluptates. Illo.</p>
   </div>
</div>